.vscode/
.venv/
**/__pycache__/
Datasets/*
!Datasets/OCR/CNN_Letters/loader.py
!Datasets/OCR/EnglishFnt/loader.py
Results/**/*.jpg
Results/**/*.png
Results/**/*.csv
Results/**/*.yaml
Models/*
.env
kaggle.json
