pandas
numpy
ultralytics
roboflow
tensorflow[and-cuda]==2.15.0.post1
scikit-learn
ipykernel
import-ipynb
matplotlib
opencv-python
numba
cuda-python
nvidia-pyindex
nvidia-cudnn==8.9.6.50 # MUST BE THIS VERSION EVEN though listed as not compatible with pytorch and ultralytics
ipywidgets
opendatasets
python-dotenv
